.competiton__title-text {
  font-size: 24px;
  line-height: 33px;
  font-weight: @light;
  color: @white;
  text-align: center;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.competiton__description {
  font-size: 14px;
  line-height: 30px;
  font-weight: @normal;
  color: @black-blue;
  text-align: center;
  background-color: @white;
  padding: 0 20px 0 20px;
}

.competiton__description-text {
  display: none;
}
