.contacts {
  font-size: 24px;
  font-weight: @light;
  color: @black-blue;
  text-align: center;
}

.contacts__wrapper {
  padding: 0 20px 0 20px;
}

.contacts__slogan {
  line-height: 29px;
}

.contacts__list {
  padding: 0;
}

.contacts__contact-method {
  font-size: 18px;
  line-height: 25px;
  font-weight: @bold;
}

.contacts__phone,
.contacts__email,
.contacts__address {
  line-height: 33px;
  color: @pink;
}

.contacts__address {
  font-style: normal;
}
