.download-links {
  font-weight: @light;
  color: @white;
  text-align: center;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.download-links__slogan {
  font-size: 24px;
  line-height: 29px;
  margin: 0 20px 0 20px;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.download-links__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.download-links__links-wrapper {
  background-color: @dark-blue;
  padding: 28px 20px 0 20px;

  @media (min-width: @tablet-width) {
    background: none;
  }
}

.download-links__available-stores-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 38px;
  width: 204px;
  margin: 0 auto;
}

.download-links__button {
  color: @white;
  font-size: 18px;
  line-height: 55px;
  font-weight: @bold;
  text-decoration: none;
  border: 3px solid @white;
  border-radius: 29px;
  display: block;
  width: 274px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 294px;
  }
}

.download-links__description {
  font-size: 14px;
  line-height: 24px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    width: 100%;
  }
}
