.download-links {
  font-weight: lighter;
  color: @white;
  text-align: center;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.download-links__slogan {
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  margin: 0 20px 0 20px;
}

.download-links__links-wrapper {
  background-color: @dark-blue;
  padding: 0 20px 0 20px;
}

.download-links__button {
  color: @white;
  font-size: 18px;
  line-height: 18px;
  font-weight: @bold;
  text-decoration: none;
  border: 3px solid @white;
  border-radius: 29px;
}

.download-links__description {
  font-size: 14px;
  line-height: 24px;
}
