.field__label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
  padding-left: 23px;
}

.field__label--achievements,
.field__label--app-platforms {
  font-size: 18px;
  text-transform: initial;
  color: @black-blue;
  padding: 0;
  margin: 0;
}

.field__input {
  font-size: 18px;
  line-height: 30px;
  color: @black-blue;
  border: 2px solid @extra-light-gray;
  border-radius: 1px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.field__input::placeholder {
  color: @black-blue;
  padding-left: 20px;
}
