.fields-list,
.comment-field {
  padding: 0;
  margin: 0 auto;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    max-width: 616px;
  }

  @media (min-width: @desktop-width) {
    max-width: 936px;
  }
}

.fields-list--achievements,
.fields-list--app-platforms {
  text-align: left;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }
}

.field-list--user-info .field:first-child {
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.comment-field {
  margin: 44px auto 0;
}

.fields-list--achievements {
  margin-top: 115px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 17px;
    grid-row-gap: 20px;
  }
}

.field-list--contacts {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 74px;
  }

  & .field__label {
    @media (min-width: @tablet-width) {
      margin-top: 12px;
    }
  }
}

.fields-list--app-platforms {
  margin-top: 111px;

  @media (min-width: @tablet-width) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }

  & .field:first-child {
    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }

  & .field:not(:first-child) {
    @media (min-width: @tablet-width) {
      margin-top: 39px;
    }
  }
}
