.form {
  margin: 0 auto;
  padding-top: 16px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-areas:
      "name"
      "app-platforms"
      "contacts"
      "achievements"
      "comment"
      "submit";
    grid-row-gap: 64px;
    max-width: 620px;
    padding-top: 82px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 74px;
    grid-template-areas:
      "name app-platforms"
      "contacts contacts"
      "achievements achievements"
      "comment comment"
      "submit submit";
    max-width: 940px;
    padding-top: 70px;
  }
}

.form__element {
  border: none;
  margin: 0;
  padding: 0 0 30px 0;

  &:first-child {
    @media (min-width: @tablet-width) {
      grid-area: name;
      padding: 0;
    }
  }

  &:nth-child(2) {
    @media (min-width: @tablet-width) {
      grid-area: achievements;
    }
  }

  &:nth-child(3) {
    @media (min-width: @tablet-width) {
      grid-area: contacts;
    }
  }

  &:nth-child(4) {
    @media (min-width: @tablet-width) {
      grid-area: app-platforms;
      padding: 46px 0;
    }

    @media (min-width: @desktop-width) {
      width: 431px;
      padding: 0;
    }
  }

  &:nth-child(5) {
    @media (min-width: @tablet-width) {
      grid-area: comment;
    }
  }

  &:nth-child(6) {
    @media (min-width: @tablet-width) {
      grid-area: submit;
    }
  }

  &:not(:first-child) {
    @media (min-width: @tablet-width) {
      border: 2px solid @extra-light-gray;
      border-radius: 1px;
    }
  }

  &--achievements,
  &--app-platforms {
    background-color: @light-gray;

    @media (min-width: @tablet-width) {
      background: none;
    }
  }

  & .form__description {
    transform: translateY(75px);

    @media (min-width: @tablet-width) {
      transform: translateY(0);
    }
  }

  &--comment .form__description {
    transform: translateY(45px);

    @media (min-width: @tablet-width) {
      transform: translateY(0);
    }
  }
}

.form__element:first-child .field {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 20px;
  }
}

.form__element:first-child .field__label {
  align-self: center;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.form__element:nth-child(3) .field {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.form__element:nth-child(3) .form__description {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.form__element:nth-child(3) .field__input {
  @media (min-width: @tablet-width) {
    margin: 0 60px;
  }
}

.form__element:nth-child(3) .field__label {
  text-align: left;

  @media (min-width: @tablet-width) {
    padding-left: 77px;
  }
}

.form__submit__container {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form__description {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
  text-align: center;
}

.form__description br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__submit {
  font-size: 18px;
  line-height: 30px;
  font-weight: @bold;
  text-transform: uppercase;
  border: 2px solid @green;
  border-radius: 1px;
  color: @white;
  background-color: @green;
  width: 276px;
  height: 59px;

  @media (min-width: @tablet-width) {
    width: 296px;
  }
}

.form__reminding-footnote {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @black-blue;
}

.form__reminding-footnote__symbol {
  color: @pink;
}

.form__reminding-footnote--specified {
  display: none;

  @media (min-width: @desktop-width) {
    color: @black-blue;
    display: inline-block;
  }
}
