.form {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-areas:
      "name"
      "app-platforms"
      "contacts"
      "achievements"
      "comment"
      "submit";
  }
}

.form__element {
  border: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    max-width: 620px;
  }
}

.form__element:first-child {
  @media (min-width: @tablet-width) {
    width: 616px;
    grid-area: name;
  }
}

.form__element:nth-child(2) {
  @media (min-width: @tablet-width) {
    grid-area: achievements;
  }
}

.form__element:nth-child(3) {
  @media (min-width: @tablet-width) {
    grid-area: contacts;
  }
}

.form__element:nth-child(4) {
  @media (min-width: @tablet-width) {
    grid-area: app-platforms;
  }
}

.form__element:nth-child(5) {
  @media (min-width: @tablet-width) {
    grid-area: comment;
  }
}

.form__element:nth-child(6) {
  @media (min-width: @tablet-width) {
    grid-area: submit;
  }
}

.form__element:not(:first-child) {
  @media (min-width: @tablet-width) {
    border: 2px solid @extra-light-gray;
    border-radius: 1px;
  }
}

.form__element--achievements,
.form__element--app-platforms {
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    background: none;
    width: 616px;
  }
}

.form__element:first-child .field {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 20px;
  }
}

.form__element:first-child .field__label {
  align-self: center;
}

.form__element:nth-child(3) .field {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.form__element:nth-child(3) .form__description {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.form__element:nth-child(3) .field__input {
  @media (min-width: @tablet-width) {
    margin: 0 60px;
    width: 496px;
  }
}

.form__element:nth-child(3) .field__label {
  text-align: left;
  padding-left: 77px;
}

.form__submit__container {
  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.form__description {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
  text-align: center;
}

.form__submit {
  font-size: 18px;
  line-height: 30px;
  font-weight: @bold;
  text-transform: uppercase;
  border: 2px solid @green;
  border-radius: 1px;
  color: @white;
  background-color: @green;
}

.form__reminding-footnote {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @black-blue;
}

.form__reminding-footnote span {
  color: @pink;
}
