.form {
  text-align: center;
}

.form__element {
  border: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    max-width: 620px;
  }
}

.form__element:not(:first-child) {
  @media (min-width: @tablet-width) {
    border: 2px solid @extra-light-gray;
    border-radius: 1px;
  }
}

.form__element--achievements,
.form__element--app-platforms {
  text-align: left;
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    background: none;
  }
}

.form__element:first-child .field {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 20px;
  }
}

.form__element:nth-child(3) .form__description {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.form__element:nth-child(3) .field__input {
  @media (min-width: @tablet-width) {
    margin: 0 60px;
    width: 496px;
  }
}

.form__description {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
  text-align: center;
}

.form__submit {
  font-size: 18px;
  line-height: 30px;
  font-weight: @bold;
  text-transform: uppercase;
  border: 2px solid @green;
  border-radius: 1px;
  color: @white;
  background-color: @green;
}

.form__reminding-footnote {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @black-blue;
}

.form__reminding-footnote span {
  color: @pink;
}
