.photo-editor__wrapper {
  margin: 0 20px 0 20px;
  background-color: @light-gray;
}

.photo-editor__title {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @black-blue;
  background-color: @white;
  margin: 0;
}

.photo-editor__drop-zone img {
  background-color: @gray;
  width: 280;
  height: 374;
}

.photo-editor__tuning-labels-list {
  padding: 0;
}

.photo-editor__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: @bold;
  color: @pink;
  text-decoration: none;
  border: 3px solid @pink;
  border-radius: 30px;
  width: 280px;
  height: 55px;
}
