.price-map,
.price-map__tariffs-item--disabled-cell {
  text-align: center;
  background-color: @light-gray;
}

.price-map__wrapper {
  padding: 0 20px 0 20px;

  @media (min-width: @desktop-width) {
    padding: 0 130px 0 130px;
  }
}

.price-map__tarrifs {
  width: 100%;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  empty-cells: hide;
}

.price-map__tariffs-item {
  font-size: 16px;
  font-weight: @bold;
  color: @white;
  background-color: @black-blue;
}

.price-map__tariffs-item__price {
  font-size: 18px;
  font-weight: @light;
}

.price-map__option-name,
.price-map__option-availability-true,
.price-map__option-availability-false {
  font-size: 14px;
  font-weight: @normal;
  color: @black-blue;
  background-color: @white;
}

.price-map__option-name {
  text-align: left;

  @media (min-width: @tablet-width) {
    text-transform: none;
  }
}

.price-map__tariffs-item--hidden,
.price-map__option-availability-true--hidden,
.price-map__option-availability-false--hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}
