.reviews {
  line-height: 30px;
  text-align: center;
  position: relative;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 620px;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__item-info-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__quotes {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 79px;
    height: 63px;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

.reviews__author-name {
  font-size: 18px;
  font-weight: @bold;
  font-style: normal;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__text,
.reviews__author-info {
  font-size: 14px;
  color: @black-blue;
}

.rewievs__button,
.reviews__author-info {
  display: none;
}

.reviews__text {
  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    max-width: 688px;
    margin: 0 auto;
  }
}

.reviews__author-info {
  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.rewievs__button {
  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.reviews__prev,
.reviews__next {
  position: absolute;
  top: 213px;
}

.reviews__prev {
  left: 0;
}

.reviews__next {
  right: 0;
}

.rewievs__toggles-list-item {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
