.reviews {
  line-height: 30px;
  text-align: center;
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  padding: 50px 0 60px 0;

  @media (min-width: @tablet-width) {
    max-width: 620px;
    padding: 55px 0 3px 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
    padding: 72px 0 41px 0;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__item-info-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__quotes {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 79px;
    height: 63px;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

.reviews__author-name {
  font-size: 18px;
  font-weight: @bold;
  font-style: normal;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-top: 51px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    margin-top: 50px;
  }
}

.reviews__text,
.reviews__author-info {
  font-size: 14px;
  color: @black-blue;
}

.reviews__button,
.reviews__author-info {
  display: none;
}

.reviews__text {
  margin: 31px 0 0 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 688px;
    margin: 58px auto 0 auto;
  }
}

.reviews__author-info {
  @media (min-width: @tablet-width) {
    display: block;
    margin: 17px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__button {
  cursor: pointer;
  width: 22px;
  height: 41px;

  &:hover path {
    opacity: 0.6;
  }

  &:active path {
    opacity: 0.1;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.reviews__prev,
.reviews__next {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 213px;
  padding: 0;
}

.reviews__prev {
  left: 0;
}

.reviews__next {
  right: 0;
}

.rewievs__toggles-list {
  padding-top: 44px;

  @media (min-width: @tablet-width) {
    padding-top: 49px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.rewievs__toggles-list-item {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
